mutation {
  p_add_connection: 0.05
  p_add_node: 0.03
  p_perturb_weights: 0.8
  p_randomize_weight: 0.1
  perturb_weight_power: 2.5
  p_change_activation: 0.05
}
speciation {
  excess_coefficient: 1.0
  disjoint_coefficient: 1.0
  weights_coefficient: 0.4
  compatibility_threshold: 3.0
}
bounds {
  min_weight: -8.0
  max_weight: 8.0
}
